html {
    min-height: 100%;
    heigt: 100%;

}
body {
    heigt: 100%;
    background-color: aquamarine;
}
p {
    font-size: 54px;
    text-align: center;
    color: bisque;
    font-family: Arial, sans-serif;
}