html {
    min-height: 100%;
    heigt: 100%;

}
body {
    height: 100%;
    background-color: red;
}
p {
    font-size: 54px;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
}
