.popup-qw {
  position: fixed;
  left: 0;
  bottom: -100%;
  z-index: 9999;
  width: 100%;
  max-width: 195px;
  border-radius: 6px;
  background-color: #2C3F67;
  opacity: 0;

  &__wrap {
    min-height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    padding: 13px 10px;
    overflow: hidden;
  }

  &__text {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: -20px;
    z-index: 1;
    width: 120%;
    height: auto;
  }

  .btn {
    min-width: 170px;
  }
}
